<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="/spectre.min.css">
	<link rel="stylesheet" href="/spectre-exp.min.css">
	<link rel="stylesheet" href="/spectre-icons.min.css">

	<style>
		.cosmic {
			height:100vh;

background-image: radial-gradient( circle farthest-corner at 0.5% 97.2%,  #2fad5b 0%, #93c4ff 100.2% );
		}
</style>
</head>
<body class="cosmic">
	<script src="/jquery-3.1.1.min.js"></script>

	<!-- development version, includes helpful console warnings -->
	<script src="/vue.js"></script>


	<script type="text/x-template" id="main-template">
		<div class="container" style="padding:100px">

			<div class="columns">
				<div class="column col-auto"></div>
				<div class="column col">

					<header class="navbar">
					  <section class="navbar-section">
						<span href="..." class="navbar-brand mr-2">NetworkTables Controls</span>
					  </section>
					</header>

		<table class="table">
		  <thead>
			<tr>
			  <th>name</th>
			  <th>value</th>
			  <th></th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>enable camera</td>
			  <td><!-- form switch control -->

			  </td>
			  <td>
				<div class="form-group">
				  <label class="form-switch">
					<input type="checkbox" v-model="controls.enable_camera">
					<i class="form-icon"></i>
				  </label>
				</div>
			  </td>
			</tr>
			<tr>
			  <td>camera MODE</td>
			  <td><!-- form switch control -->
			  </td>
			  <td>
				<div class="form-group">
				  <label class="form-radio form-inline">
					<input type="radio" name="gender" checked=""  @click="enableRaw"><i class="form-icon"></i> RAW
				  </label>
				</div>
				<div class="form-group">
				  <label class="form-radio form-inline">
					<input type="radio" name="gender"  @click="enableBay"><i class="form-icon"></i> BAY DETECT
				  </label>
				</div>
				<div class="form-group">
				  <label class="form-radio form-inline">
					<input type="radio" name="gender"  @click="enableBall"><i class="form-icon"></i> BALL DETECT
				  </label>
				</div>
				<div class="form-group">
				  <label class="form-radio form-inline">
					<input type="radio" name="gender"  @click="enableHex"><i class="form-icon"></i> HEX GOAL DETECT
				  </label>
				</div>
			  </td>
			</tr>
		  </tbody>
		<!-- <tbody  v-if="color_profile">
		  	<tr>
				<td>RGB Red Threshod</td>
				<td>{{ color_profile.rgb.red.min }} - {{ color_profile.rgb.red.max }} </td>
				<td>Min:
					<input class="slider tooltip"
						   v-model="color_profile.rgb.red.min"
						   @change="updateColors"
						   type="range" min="0" max="255">
					Max:
					<input class="slider tooltip"
						   v-model="color_profile.rgb.red.max"
						   @change="updateColors"
						   type="range" min="0" max="255">
				</td>
			</tr>
		  	<tr>
				<td>RGB Green Threshod</td>
				<td>{{ color_profile.rgb.green.min }} - {{ color_profile.rgb.green.max }} </td>
				<td>Min:
					<input class="slider"
						   v-model="color_profile.rgb.green.min"
						   @change="updateColors"
						   type="range" min="0" max="255">
					Max:
					<input class="slider"
						   v-model="color_profile.rgb.green.max"
						   @change="updateColors"
						   type="range" min="0" max="255">
				</td>
			</tr>
		  	<tr>
				<td>RGB Blue Threshod</td>
				<td>{{ color_profile.rgb.blue.min }} - {{ color_profile.rgb.blue.max }} </td>
				<td>Min:
					<input class="slider"
						   v-model="color_profile.rgb.blue.min"
						   @change="updateColors"
						   type="range" min="0" max="255">
					Max:
					<input class="slider"
						   v-model="color_profile.rgb.blue.max"
						   @change="updateColors"
						   type="range" min="0" max="255">
				</td>
			</tr>
		  </tbody> -->
		</table>

		</div>
	</div>
  </div>

	</script>
	
	<div class="columns">
		<div class="column col-6">
			<canvas id="canvas"
					width="640"
					height="480"
					style="border:1px solid black"></canvas>
		</div>
		<div class="column col-5">
			<img id="processed_image" src="">
		</div>


	<div id="app"></div>

</div>
	<script src="/ws_streamer.js"></script>
	<script src="/socket.js"></script>
	<script src="/app.js"></script>
	<script src="/tracker.js"></script>

</body>

</html>
